<link rel="stylesheet" href="assets/css/style.css">
<br>
<a href="scrape" id="update"><button>Update</button></a><a href="/saved"><button class="savedButton">Saved Articles</button></a>
<br>
<br>
{{#each articles}}
<div class="title"><a href={{this.link}}>{{this.title}}</a></div>
<br>
<div class="summary">{{this.summary}}</div>
<br>
<form action="/save/{{this._id}}" method="POST">
<a href="/articles/{{this._id}}" class="notes"><button>Notes</button></a>
	<button id="submit" class="saveButton indexSaveButton">Save</button>
</form>
<br>
<br>
{{/each}}