<link rel="stylesheet" href="assets/css/style.css">
<h2>Recent Articles</h2>
<br>
<div class="options">
<a href="scrape" id="update"><button>Update</button></a><a href="/saved"><button class="savedButton">Saved Articles</button></a>
</div>
<br>
<br>
{{#each articles}}
<div class="title"><a href={{this.link}}>{{this.title}}</a></div>
<br>
<div class="summary">{{this.summary}}</div>
<br>
<div class="Tracy">
<a href="/articles/{{this._id}}" class="notes"><button>Notes</button></a>
<form action="/save/{{this._id}}" method="POST">
	<button id="submit" class="saveButton indexSaveButton">Save</button>
</form>
</div>
<br>
<br>
{{/each}}
<div class="modal">
	<div class="modalContent">
	Article Saved
	<br>
	<br>
	<br>
	<button class="close">Close</button>
	</div>
</div>
<div class="whiteOut"><br></div>
<script src="assets/js/modal.js"></script>