<link rel="stylesheet" href="assets/css/style.css">
<a href="scrape" id="update"><button>Update</button></a>&#32;&#32;<a href="/saved"><button>Saved Articles</button></a>
<br>
<br>
{{#each articles}}
<div class="title"><a href={{this.link}}>{{this.title}}</a></div>
<br>
<div class="summary">{{this.summary}}</div>
<br>
<a href="/articles/{{this._id}}" class="notes"><button>Notes</button></a>&#32;&#32;<form action="/save/{{this._id}}" method="POST">
	<button id="submit">Save</button>
</form>
<br>
<br>
{{/each}}