<link rel="stylesheet" href="assets/css/style.css">
<h2>Saved Articles</h2>
<br>
<div class="options">
<a href="/"><button>Recent Articles</button></a>
</div>
<br>
<br>
{{#each articles}}
<div class="title"><a href={{this.articleID.link}}>{{this.articleID.title}}</a></div>
<br>
<div class="summary">{{this.articleID.summary}}</div>
<br>
<div class="Tracy">
<a href="/articles/{{this.articleID._id}}" class="notes"><button>Notes</button></a><a href="/unsave/{{this.articleID._id}}" class="deleteButton">
<button>Delete</button></a>
</div>
<br>
<br>
{{/each}}
<script src="assets/js/modal.js"></script>